/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #121212;
}

header {
    background-color: #1a1a1a;
    padding: 1rem 2rem;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.menu a:hover, .menu a.active {
    color: #ff4a57;
}


/* Seções */
.section {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.section.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Galeria dentro da Section */
#home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 75%; /* Ajusta a largura da galeria para a seção */
    margin-left: 25%; /* Ajuste para compensar a sidebar */
}

.gallery-item {
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1.2;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item::before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.gallery-item::after {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 75%; /* Ajusta a largura da galeria para a seção */
    margin-left: 25%; /* Ajuste para compensar a sidebar */
}

.jogo {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.jogo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.jogo h2 {
    font-size: 1.8rem;
    color: #333;
    margin: 1rem 0;
}

.jogo p {
    color: #777;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.precos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.precos p {
    color: #03031d;
}

.precos strong {
    color: #471a1d;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #03031d;
    color: #fff;
    font-size: 0.9rem;
}

footer p {
    margin-top: 0.5rem;
}
