/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #03081c;
}

header {
    background-color: #1a1a1a;
    padding: 1rem 2rem;
    margin-bottom: 0; /* Garantir que não há margem inferior */
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.menu a:hover, .menu a.active {
    color: #ff4a57;
}

main {
    padding: 2rem;
    position: relative;
}

/* Seções */
.section {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.section.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    margin-top: 0; /* Remover margem extra quando ativo */
}

/* Galeria dentro da Section */
#home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 75%; /* Ajusta a largura da galeria para a seção */
    margin-left: 25%; /* Ajuste para compensar a sidebar */
}

.gallery-item {
    display: flex;
    width: 100%;
    height: 0;
    padding-top: 120%; /* Para manter a proporção */    
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item::before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.gallery-item::after {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Catálogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 7rem;
    width: 100%;
    margin-top: 0; /* Garantir que não haja espaço extra */
}

.jogo {
    background-color: #050b24;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(3, 6, 49, 0.1);
    padding: 1rem;
    text-align: center;
}

.jogo img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.jogo h2 {
    font-size: 1.8rem;
    color: #cebfd7;
    margin: 1rem 0;
}

.jogo p {
    color: #74a0ff;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.precos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.precos p {
    color: #a3a3da;
}

.precos strong {
    color: #4a54df;
    font-weight: bold;
}

